<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<footer class="footer" th:fragment="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>🛠️ AutoDetail</h5>
                <p>Ваш надежный партнер в мире автозапчастей. Качество, скорость, надежность.</p>
            </div>
            <div class="col-md-4">
                <h5>Контакты</h5>
                <p>📞 +7 (999) 123-45-67</p>
                <p>✉️ info@autodetail.ru</p>
                <p>📍 Москва, ул. Автозапчастей, 123</p>
            </div>
            <div class="col-md-4">
                <h5>Часы работы</h5>
                <p>Пн-Пт: 9:00 - 20:00</p>
                <p>Сб-Вс: 10:00 - 18:00</p>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="col-md-6">
                <p>&copy; 2025 AutoDetail. Все права защищены.</p>
            </div>
            <div class="col-md-6">
                <div class="social-links">
                    <a href="#">📘</a>
                    <a href="#">📷</a>
                    <a href="#">💬</a>
                    <a href="#">🐦</a>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>